html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Light' !important;
}
h1, h2, h3, h4, h5, h6,p{
    margin: 0 !important;
    padding: 0;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    
.intro-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.main_logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main_logo-container img{
    width: 40%;
}
.w3-sidebar{
    background-color: black !important;
    color: white !important;
    width: 300px !important;
    padding: 70px 0 0 40px;
    font-size: 20px;
}

.w3-xxlarge{
    position: absolute;
    top: 4%;
    z-index: 1;
    border: none;
    background: transparent;
    left: 3%;
    cursor: pointer;
}
#mySidebar{
    font-family: 'Playfair Display';
}

.sidenav-main-container{
    position: fixed;
    z-index: 5;
}
.intro-section-first-container{
    position: relative;
    background-image: url(./assets/images/whiteBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
a{
    text-decoration: none;
}
.stage_of_sleep-container{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stages-main-image {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}
.stages{
    position: relative;
}
.stage-title{
    padding-top: 3%;
}
.intro-section{
    width: 100%;
}
/* .stage_of_sleep-section{
    height: 100%;
    width: 100%;
} */

.bed-image img{
    width: 100%;
}
.stages{
    background-image: url(./assets/images/whitePaternBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}
.bed-image{
    background-image: url(./assets/images/bed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.benefits_of_sleep-image{
    background-image: url(./assets/images/blackPaternBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    
}
.first-section-paragraph p{
    padding: 4% 0 0 6%;
}
.article {
    width: 270px;
}
.main-title{
    padding: 0 5% 0 3%;
}
.main-title p{
    font-size: 45px;
}
.second-section-paragraph{
    display: flex;
    padding-top:5%;
}
.effects_of_lack_of_sleep-image{
    background-image: url(./assets/images/whitePaternBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.body-image-container{
    display: flex;
    justify-content: center;
}
.body-image-child-container{
    width: 55%;
}
.body-image-child-container img{
    width: 100%;
}
.body-common-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 10%;
}
.body-common-child-container{
    width: 70%;
    display: flex;
    position: relative;
}
.high_blood_pressure{
    position: absolute;
    left: 35%;
    top: 23%;
}
.high_blood_pressure h5{
    width: 52%;
}
.effects_of_lack_of_sleep-footer,.intro-section-footer{
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 7%;
}
.credits-container{
    position: relative;
}
#myVideo{
    height: 100%;
    width: 100%;
}
.credits-common-conatiner{
    position: absolute;
    top: 5%;
    color: white;
    width: 100%;
    display: flex;
    padding: 7% 0 0 7%;
}
.designe-container{
    padding-left: 10%;
}
.credit-title{
    padding: 15% 0;
    font-family: 'Roboto Bold';
    font-size: 20px;
}


/*player*/
.video-player .controls .progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* .video-player {
    z-index: 1000000;
    position: absolute;
    bottom: 0px;
    width: 100%;
  } */
  .video-player{
      width: 40%;
  }
  .video-player .play {
    position: absolute;
    /* top: -30px; */
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 25px;
    /* margin-left: 15px; */
    border-color: transparent transparent transparent #9E7978;
    transition: 250ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 12px 0 12px 20px;
  }
  .video-player .paused {
    border-style: double;
    border-width: 0 0 0 25px;
  }
  .video-player .controls {
    width: 100%;
  }
  .video-player .controls .progress {
    /* display: inline-block; */
    cursor: pointer;
    height: 12px;
    position: relative;
    width: 90%;
    left: 7%;
    background-color: transparent;
    vertical-align: bottom;
    border:1px solid #afafaf;
    box-sizing: border-box;
  }
  .video-player .controls .progress .track {
    background-color: #9E7978;
    position: absolute;
    /* top: 0; */
    left: 0;
    height: 100%; 
    width: 0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

  .video-player .controls .progress .track:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2vh;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #753c3b;
  }
  .video-player .controls .progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .sound-button svg{
    width: 5%;
  }
  body .background .overlay .main-content .sound-timing .timing, .read-more {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: -55px;
    left: -26px;
  }
  body .background .overlay .main-content .sound-timing .timing span {
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    font-size: 1.5em;
    color: #9E7978;
    width: 50px;
    display: inline-block;
}
.controls{
    display: inline-block;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}