html {
    scroll-behavior: smooth;
}
*:focus{
    outline:none;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6,p{
    margin: 0 !important;
    padding: 0;
}
audio, canvas, progress, video{
    display:flex;
}
hr{
    border-top: 1px solid black !important;
    width: 100%;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.activeChapter{
    color:white !important;
}
.intro-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.main_logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.lack_of_sleep-title-image,.scroll_down-image{
    width: 40%;
}
.lack_of_sleep-title-image{
    margin-bottom: -6%;
}
.scroll_down-image{
    margin-top: -6%;
}
.eye-image{
    width: 30%;
}
.main_logo-container div img{
    width: 100%;
}
/* .main_logo-container img{
    width: 40%;
} */
.w3-sidebar{
    background-color: #1C1B1A!important ;
    color: white !important;
    width: 300px !important;
    padding: 70px 0 0 40px;
    font-size: 20px;
}
.w3-sidebar div{
    font-family: 'Roboto Light';
    color:#999999;
    font-weight: bold;
}
.w3-xxlarge{
    position: absolute;
    top: 62px;
    z-index: 1;
    border: none;
    background: transparent;
    left: 67px;
    cursor: pointer;
}
#mySidebar{
    font-family: 'Playfair Display';
}

.sidenav-main-container{
    position: fixed;
    z-index: 1;
    height: 1%;
    width: 1%;
}
.intro-section-first-container{
    position: relative;
    background-image: url(./assets/images/whitebackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
a{
    text-decoration: none;
}
.stage_of_sleep-container{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.stages-main-image {
    display: flex;
    justify-content: center;
    margin: 3% 0;
    width: 70%;
}
.stages-main-image img{
    width: 100%;
    height: 100%;
}
.stages{
    position: relative;
}

.intro-section{
    width: 100%;
}
/* .stage_of_sleep-section{
    height: 100%;
    width: 100%;
} */

.bed-image img{
    width: 100%;
}
.stages{
    background-image: url(./assets/images/whitePaternBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}
.bed-image{
    background-image: url(./assets/images/bed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.benefits_of_sleep-image{
    background-image: url(./assets/images/blackPaternBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    
}
.first-section-paragraph p{
    padding: 3% 0 0 10%;
    font-size: 25px;
    font-family: 'Roboto Light';
}
.article {
    width: 23%;
}
.article p{
    font-family: 'Roboto Light';
    font-size:28px;
}
.main-title{
    padding: 0 5% 0 5%;
}
.main-title p{
    font-size: 70px;
    font-family: 'Roboto Light';
}
.second-section-paragraph{
    display: flex;
    padding-top:9%;
}
.effects_of_lack_of_sleep-image{
    background-image: url(./assets/images/whitePaternBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.body_title-common-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-image-container{
    width: 18%;
    position: absolute;
    
}
.body-image-container img{
    width: 100%;
    height: 100%;
}
/* .body-image-container{
    display: flex;
    justify-content: center;
}
.body-image-child-container{
    width: 55%;
}
.body-image-child-container img{
    width: 100%;
} */
/* .body-common-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 30%;
    left: 33%;
} */
.body-common-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-common-child-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.before_title_line{
    width: 20%;
}
/* .high_blood_pressure{
    width: 100%;
    position: absolute;
    left: 60%;
    margin-top: -25px;
    margin-left: 25px;
} */
.desription p{
    width: 35%;
}
.high_blood_pressure > p{
    font-family: 'Roboto Light';
    font-size: 43px ;
    font-weight: bold;
}
.high_blood_pressure > div > p{
    font-family: 'Roboto Light';
    font-size: 28px;
}
/* .high_blood_pressure{
    position: absolute;
    left: 35%;
    top: 23%;
}
.high_blood_pressure h5{
    width: 52%;
} */
.high_blood_pressure-parent_container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 217px;
    left: 49%;
}
/* .high_blood_pressure-parent_container>div:first-child:before{
    content: '';
    width: 20%;
    border-bottom: solid 1px black;
    position: absolute;
    /* left: 0;
    top: 50%; */
    /* z-index: 1; */
    /* display: none; */
/* } */ 
/* .before-container:before{
    content: '';
    width: 20%;
    border-bottom: solid 1px black;
    position: absolute;
} */
.common{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
/* .common > div:not(:first-child){
    width: 100%;
    height: 100%;
} */
.effects_of_lack_of_sleep{
    position: absolute;
    left: 32%;
    width: 15%;
}
.effects_of_lack_of_sleep img{
    width: 100%;
    height: 100%;
}
.effects_of_lack_of_sleep-footer,.intro-section-footer{
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 4%; */
}
.intro-section-footer p, .stage-title p , .effects_of_lack_of_sleep-footer p{
    font-size:20px;
    font-family: 'Roboto Light';
    font-weight: bold;
}
.effects_of_lack_of_sleep-footer p,.intro-section-footer p{
    font-weight: bold;
}
.stage-order{
    margin-top: 3%;
}
.stage-order p{
    font-size: 50px;
    font-family: 'Roboto Light' ;
    font-weight: bold;
    
}
.stage_4-image,.stage_3-image{
    width: 55%;
}
.credits-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#myVideo,#myVideo1,#myVideo2,#myVideo3{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.credits-common-conatiner{
    position: absolute;
    top: 5%;
    color: white;
    width: 100%;
    display: flex;
    /* padding: 7% 0 0 5%; */
}
.designe-container{
    padding-left: 10%;
}
.credit-title{
    padding: 15% 0;
    font-family: 'Roboto Bold';
    font-size: 37px;
}
.name{
    font-size: 37px;
    font-family: 'Roboto light';
}

/*player*/

.video-player .controls .progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.progress{
    margin-left: 3%;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-player{
    width: 80%;
    display: flex;
}
.video-player .play {
    /* position: absolute; */
    /* top: -30px; */
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 10px;
    /* margin-left: 15px; */
    border-color: transparent transparent transparent black;
    transition: 250ms all ease;
    cursor: pointer;
    border-style: solid;
    /* border-width: 12px 0 12px 20px; */
    border-width: 5px 0 5px 11px;
}
.video-player .paused {
    border-style: double;
    border-width: 0 0 0 11px;
}
.video-player .controls {
    width: 100%;
}
.video-player .controls .progress {
    /* display: inline-block; */
    cursor: pointer;
    height: 2px;
    position: relative;
    width: 60%;
    background-color: transparent;
    vertical-align: bottom;
    background-color: #afafaf;
    border-radius: 8px;
    box-sizing: border-box;
}
.video-player .controls .progress .track {
    background-color: black;
    position: absolute;
    /* top: 0; */
    left: 0;
    height: 100%; 
    width: 0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.video-player .controls .progress .track:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    right: -5px;
    top: -2px;
    background: black;
    border-radius: 100%;
}

.video-player .controls .progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .background .overlay .main-content .sound-timing .timing, .read-more {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: -55px;
    left: -26px;
}
body .background .overlay .main-content .sound-timing .timing span {
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    font-size: 1.5em;
    color: #9E7978;
    width: 50px;
    display: inline-block;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 3%; */
}
.back, .forward{
    width: 20px;
    height: 16px;
}
.back img, .forward img{
    width: 100%;
}
.pause_play_button_container{
    display: flex;
    padding-left: 8%;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 15%;
    width: 20px;
}
.sound_line{
    background-color: gray;
    width: 3px;
}
.active{
    background-color:black;
}
.sound-button {
    display: flex;
    align-items: flex-end;
}
.first_line{
    margin: 0 1px;
    height: 8px;
}
.second_line{
    margin: 0 1px;
    height: 10px;
}
.third_line{
    margin: 0 1px;
    height: 12px;
}
.forth_line{
    margin: 0 1px;
    height: 14px;
}

.sound_line.active {
    opacity:1;
}
.left-side-control{
    display: flex;
    line-height: 0.5;
}
.sound-timing{
    margin-left: 15px;
}


/*body style*/
.main-body-container{
    display: flex;
    justify-content: center;
    width: 170px;
    height: 500px;
}
img{
    width: 100%;
    height: 100%;
}
.body_image{
    width: 100%;
    height: 100%;
    position: relative;
}

/* .body_image{
    position: relative;
    background-image: url(./assets/images/Layer\ 21.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
} */
.organ-common-container div{
    display: inline-block;
    position: absolute;
}
.organ-common-container div img{
    opacity: 0.4;

}
.organ-common-container div:hover{
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
}
.organ-common-container div svg{
    width: 100%;
    height: 100%;
}
.brain-container{
    top: 1%;
    left: 43%;
    width: 25%;
}
.lung-container{
    width: 40%;
    top: 16%;
    left: 30%;
}
.veins-container{
    top: 18%;
    width: 48%;
    left: 47%;
}
.heart-container{
    width: 13%;
    top: 23%;
    left: 43%;
}
.stomach-container{
    width: 40px;
    top: 28%;
    left: 45%;
}
.right-leg{
    width: 81px;
    top: 39%;
    left: 28%;
}
.left-leg{
    width: 31px;
    top: 44%;
    left: 27%;
}
.liver-container{
    top: 29%;
    left: 30%;
    height: 100px;
    width: 70px;
}
.pancreas-container{
    width: 27px;
    top: 32%;
    left: 40%;
}
.ovary-container{
    width: 35px;
    height: 35px;
    top: 42%;
    left: 40%;
}
.brain-container{
    cursor: pointer;
    width: 550px;
    height: 350px;
}
.brain-photo{
    width: 8%;
}
.organ-description{
    margin-left: 15%;
    width: 100%;
    height: 100%;
    display: none !important;
    

}
.activeDescription{
    display:flex !important;
    
}
.before-container{
    width: 31%;
    margin-left: -8%;
}
.title_description-container{
    display:flex; 
    flex-direction: column;
    margin-left: 25%;
}
.title_description-container p{
    width: 70%;
}
.organ-photo img:hover{
    opacity: 1;
    transition: 0.7s;
}
/* .organ-photo img:hover .organ-description{
    transition: all .2s ease-in-out !important;
} */
/* 
.info0{
    margin-top: 237px;
} */